<div class="container" style="background-color: white; margin-top: 20px;">
    <br>
    <div style="display: flex;">
      <span style="font-size: 20px;flex: 3;">Completed Requests</span>
      <div style="display: inline-block;margin-left: auto;">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Request Type,Request Number" #input>
        </mat-form-field>
      </div>
    </div>
    <mat-divider style="margin: 10px 0;"></mat-divider>
    <table class="table" mat-table [dataSource]="this.dataSource">
  
      <!-- REQUEST NO COULMN -->
      <ng-container matColumnDef="reqNumber">
        <th id="requestNum" class="text-center" mat-header-cell *matHeaderCellDef> Request Number </th>
        <td id="requestNumber" class="text-center" mat-cell *matCellDef="let element"> {{element.RUMPRequestNumber}} </td>
      </ng-container>
  
      <!-- REQUEST TITLE Column -->
      <ng-container matColumnDef="Request Subject">
        <th id="subject" class="text-center" mat-header-cell *matHeaderCellDef> Request Subject </th>
        <td id="requestSubject" class="text-center truncate-cell" mat-cell *matCellDef="let element"> {{element.RUMPRequestSubject}} </td>
      </ng-container>
  
      <!-- Satus Column -->
      <ng-container matColumnDef="status">
        <th id="status" class="text-center" mat-header-cell *matHeaderCellDef> Status </th>
        <td id="requestStatus" class="text-center" mat-cell *matCellDef="let element"> {{element.RUMPRequestStatus}} </td>
      </ng-container>
      <!-- Type Column -->
      <ng-container matColumnDef="Request Type">
        <th  id="type" class="text-center" mat-header-cell *matHeaderCellDef> Request Type </th>
        <td id="requestType" class="text-center" mat-cell *matCellDef="let element"> {{element.RUMPRequestType}} </td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="RequestDate">
        <th id="date" class="text-center" mat-header-cell *matHeaderCellDef> Request Date </th>
        <td id="requestDate" class="text-center" mat-cell *matCellDef="let element">
          {{element.RUMPRequestDate | date: 'yyyy-MM-dd'}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="view">
        <th id="action" class="text-center" mat-header-cell *matHeaderCellDef>Action</th>
        <td id="requestAction" class="text-center" mat-cell *matCellDef="let element">
          <button mat-button class="stylepopupbuttonconfirm" style="outline:none;"
          (click) = 'view(element.RUMPRequestPK)'>
          <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>
     
      <ng-container  matColumnDef="progress">
        <th id="viewSatus" class="text-center" mat-header-cell *matHeaderCellDef style=" text-align: center;">Log and Progress</th>
        <td id="vStatus"  class="text-center" mat-cell *matCellDef="let element">
          <button mat-button class="stylepopupbuttonconfirm" style="outline:none;"
          (click) = 'status(element.RUMPRequestPK)'>
          Check progress
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [ngClass]="{'make-gold': row.UnreadStatus == 1}" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [hidden]="!(this.dataSource.data.length>=1)" [pageSizeOptions]="[5 , 10]" showFirstLastButtons></mat-paginator>
  <div style="text-align: center;color:red;margin: 20px 0;padding-bottom: 20px;"
  *ngIf="this.dataSource.data.length<1">
    No data is available
    </div>

  </div>
