<div class="text-center container" style="background-color: white; margin-top: 20px;">
  <br>
  <mat-card class="example-card1">
    <mat-card-title> All Requests</mat-card-title>
  </mat-card>
  <br>
  <mat-card class="example-card1">
  <table class="table" mat-table [dataSource]="this.dataSource">

    <!-- REQUEST NO COULMN -->
    <ng-container matColumnDef="reqNumber">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Request Number </th>
      <td mat-cell *matCellDef="let element"> {{element.RUMPRequestNumber}} </td>
    </ng-container>

    <!-- REQUEST TITLE Column -->
    <ng-container matColumnDef="Request Subject">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Request Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.RUMPRequestSubject}} </td>
    </ng-container>

    <!-- Requester Id Column -->
    <!-- <ng-container matColumnDef="Requester Id">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Requester Id </th>
      <td mat-cell *matCellDef="let element"> {{element.RUMPInitiatorId}} </td>
    </ng-container> -->
    <!-- Satus Column -->
    <ng-container matColumnDef="status">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.RUMPRequestStatus}} </td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="Request Type">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Request Type </th>
      <td mat-cell *matCellDef="let element"> {{element.RUMPRequestType}} </td>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="RequestDate">
      <th class="text-center" mat-header-cell *matHeaderCellDef> Request Date </th>
      <td mat-cell *matCellDef="let element">
        {{element.RUMPRequestDate | date: 'yyyy-MM-dd'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th class="text-center" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="stylepopupbuttonconfirm" (click)='view(element.RUMPRequestPK,element.ispnc,element.RUMPRequestStatus)'>
          <mat-icon>visibility</mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="Approve">
      <th class="text-center" mat-header-cell *matHeaderCellDef style=" text-align: center;"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="stylepopupbuttonconfirm"
          (click)='status(element.RUMPRequestPK)'>
          View Status
        </button>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="Update">
      <th class="thead-light" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button
        class="col-bg-button"
        *ngIf = "this.user_Permission==1"
        (click)="UserDataService.ReqId=element.req_id;UserDataService.viewReq = element;update(element.req_id)">
          Update
        </button>
        
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'make-gold': row.UnreadStatus == 1}" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[5 , 10]" showFirstLastButtons></mat-paginator>
</div>