<div class="row my-3">
<div class="col-md-3"></div>
<div class="col-md-6">
<form ngNativeValidate class="px-3 py-3 my-4" #form = "ngForm" (ngSubmit) = "form.reset() "
style="border-radius: 10px; background: linear-gradient(to bottom, #000046, #1cb5e0);
color:antiquewhite"
action="#">
    <h3 class="text-center">
      Request Form
    </h3>
    <hr>
  <div class="form-row">
    <div class="col-md-12">
      <label for="inputdes">Request Type</label>
      <select id="inputdes" class="form-control" name="RequestType" [(ngModel)] = "currReq.req_type" required>
        <option selected>Choose...</option>
        <option>Request for new assets</option>
        <option>Request for Repair </option>
        <option>Request for Maintainance </option>
        <option>Other </option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputbudget">Request Budget</label>
      <input type="number" 
      min="1" oninput="validity.valid||(value='');"
      class="form-control"
      id="inputbudget"
      name="RequestBudget"
      [(ngModel)] = "currReq.req_budget"
      required />
    </div>
    <div class="form-group col-md-6">
      <label for="inputid">Requester ID</label>
      <input type="text" class="form-control"
      id="inputid"
      name="RequesterId"
      [(ngModel)] = "this.currReq.req_initiator_id"
      #userId = "ngModel"
      readonly
      required
      />
    </div>
  </div>
  <div class="form-group">
    <label for="reqtitle">Request Title</label>
    <input
      type="text"
      class="form-control"
      id="reqtitle"
      placeholder=""
      name="RequestTitle"
      [(ngModel)] = "currReq.req_title"
      required
    />
  </div>
  <div class="form-group">
    <label for="reqdes">Request Description</label>
    <textarea
      class="form-control"
      id="reqdes"
      placeholder=""
      name="Requestdes"
      [(ngModel)] = "currReq.req_description"
      required
    ></textarea>
  </div>

  
<hr>
<h4 style="text-align: center">Upload File Here</h4>
<div style="text-align: center">
  <form>      
    <div>
      <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
    </div>
  </form>
</div>



 <!-- -->
<!-- <div class="row">
 
  <div class="col-md-3">

      <h3>Select files</h3>

      Multiple
      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

  </div>

  <div class="col-md-9" style="margin-bottom: 40px">
 
    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
        <thead>
        <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.options.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs"
                        (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <div>
            Queue progress:
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
    </div>

</div>

</div> -->
  <!--  -->

  <div class="text-center">
    <button type="submit" class="btn btn-danger btn-lg"
    (click) = "form.valid ? onSubmit() : null"
    [disabled] = "!form.valid"
    >
    Submit Request
  </button>
  </div>
</form>
</div>
<div class="col-md-3"></div>
</div>
