<div class="row my-3">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form ngNativeValidate class="px-3 py-3 my-4" #form="ngForm" (ngSubmit)="form.reset() " style="border-radius: 10px;"
      action="#">
      <h5 class="text-center">
        Request Details
      </h5>
      <hr>
      <div class="form-row">
        <div class="form-group">
          <label for="inputdes">Request Type</label>
          <select class="form-control" id="request"[(ngModel)]="req_type" name="RequestType" 
           disabled required>
            <option selected>Select the Request Type</option>
            <option>Upgrade</option>
            <option>Repair</option>
            <option>Maintenance</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>Request Number</label>
          <input class="form-control" id="req_number" type="text" [(ngModel)]="req_number"
            name="req_number" readonly
            required />
        </div>
      </div>
      <div class="form-row">

        <div class="form-group col-md-6">
          <label>ME Type</label>
          <select id="inputme" class="form-control" [(ngModel)]="me_type" 
          name="METype" disabled required>
            <option selected>Select the ME Type</option>
            <option>Civil</option>
            <option>Electrical</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>S/WON</label>
          <input class="form-control" id="swon" type="text" [(ngModel)]="req_swon" 
          readonly name="RequestSwon"
           placeholder="" required />
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Budget Type</label>
          <select id="inputbudget" class="form-control" [(ngModel)]="budget_type"
            name="budgetType" disabled required>
            <option selected>Select the Budget Type</option>
            <option>Capex</option>
            <option>Opex</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Available Budget(INR)</label>
          <input class="form-control" id="available" type="number" [(ngModel)]="available_budget"
            name="availableBudget" readonly
            required />
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Consumed Budget(INR)</label>
          <input class="form-control" id="consumed" type="number" [(ngModel)]="consumed_budget"
            name="consumedBudget" readonly
            required />
        </div>

        <div class="form-group col-md-6">
          <label>Balance Budget(INR)</label>
          <input class="form-control" id="balancebudget" type="number" [(ngModel)]="balance_budget"
            name="balanceBudget" readonly
            required />
        </div>

      </div>

      <div class="form-group">
        <label>Request Subject</label>
        <textarea placeholder="" id="subject" class="form-control" 
        readonly [(ngModel)]="req_subject" name="ReqSubject"
         name="RequestSubject" required></textarea>
      
      </div>

      <div class="form-group">
        <label for="reqdes">Request Description</label>
        <textarea id="description" placeholder="" 
        readonly [(ngModel)]="req_description"
         class="form-control" name="Requestdes" maxlength="5000"
          required></textarea>
       
      </div>
      <div class="form-group" *ngIf="this.req_status!='Closed'">
        <label for="reqdes">Add Comment</label>
        <textarea id="comment" placeholder="" 
         [(ngModel)]="comment"
         class="form-control" name="comment"
          ></textarea>
       
      </div>
  
      <div class="text-center"  *ngIf="this.req_status!='Closed'">
        <button mat-raised-button class="col-bg-button" (click)="form.valid ? onSubmit() : null"
          [disabled]="!form.valid">
          Resend for change
        </button>
      </div>
    </form>
  </div>
</div>