<div id="pause" *ngIf="isLoading" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
  </div>
<div class="row my-3">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="border-radius: 10px;">
        <form class="px-3 py-3 my-4" #form="ngForm" (submit)="form.reset()">
            <div class="text-center" style="display: flex;">
                <span style="font-size: 20px;flex: 3;">Request Action Form</span>
            </div>
            <mat-divider style="margin: 10px 0;"></mat-divider>
            <br>
            <div class="text-center">
                <label>Request Comment</label>
                <div class="text-center">
                    <textarea id="subject" class="form-control" [(ngModel)]="requestComment" name="comment"
                        required></textarea>
                    <br>
                </div>

                <div class="text-center" *ngIf="this.role_id==5">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Select Category</mat-label>
                        <mat-select [(ngModel)]="vendCategoryId" (ngModelChange)="onChanged($event)" name="food">
                            <mat-option *ngFor="let vendorCategory of this.vendorCategory"
                                [value]="vendorCategory.pickRumpVendorCategoriesPK">
                                {{vendorCategory.pickRumpVendorDescription}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="text-center container" *ngIf="this.vendCategoryId">
                    <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th id="name" mat-header-cell *matHeaderCellDef> Vendor Name </th>
                            <td id="vendorName" mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation();"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [disabled]="this.selection.selected.length > 6"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Vendor Name -->
                        <ng-container matColumnDef="position">
                            <th id="vname"mat-header-cell *matHeaderCellDef> Vendor Name </th>
                            <td id="vendorNm" mat-cell *matCellDef="let element"> {{element.vendorName}} </td>
                        </ng-container>

                        <!-- Tagged Requests -->
                        <ng-container matColumnDef="name">
                            <th id="tagged" mat-header-cell *matHeaderCellDef> Tagged Requests </th>
                            <td id="taggedRequest" mat-cell *matCellDef="let element"> {{element.taggedCount}} </td>
                        </ng-container>

                        <!-- Weight Allocated Requests -->
                        <ng-container matColumnDef="weight">
                            <th id="allocRequest" mat-header-cell *matHeaderCellDef> Allocated Requests </th>
                            <td id="allocatedTequest" mat-cell *matCellDef="let element"> {{element.alloccatedCount}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                    <br>
                </div>
                <div class="text-center" style="width: 100%;">
                    <button mat-raised-button color="accent" style="width:80%;outline:none;" type="submit" 
                    [disabled]="(isLoading==true)" (click)="onSubmit()">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>