<form #login = "ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1" style="color: black;">Username: </label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)] = 'email'
    required >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="color: black;">Password:</label>
    <input type="password" class="form-control" name="password"
    id="exampleInputPassword1" [(ngModel)] = 'password' required >
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="submit" mat-raised-button
      class="col-bg-accent"
      (click) = 'onLogin()' [disabled] = "!login.valid">
        Login
      </button>
    </div>
    <div class="col-md-4"></div>
  </div>
</form>
