<div class="container" style=" margin-top: 10px;">
  <div class="row">
    <div class="column_left">
      <div class="container" style="background-color: white;">
        <br>
        <div style="display: flex;">
          <span style="font-size: 20px;flex: 3;">Approval Status</span>
        </div>
        <mat-divider style="margin: 10px 0;"></mat-divider>
        <div class="container">
          <table class="table" mat-table [dataSource]="this.dataSource1">

            <ng-container matColumnDef="id">
              <th id="id" class="text-center" mat-header-cell *matHeaderCellDef> Role Id </th>
              <td id="roleId" class="text-center" mat-cell *matCellDef="let element"> {{element.linkRUMPAdminAccessPK}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th id="designation" class="text-center" mat-header-cell *matHeaderCellDef> Designation </th>
              <td id="name" class="text-center" mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th id="status "class="text-center" mat-header-cell *matHeaderCellDef> Status </th>
              <td id="reqStatus" class="text-center" mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>

        </div>

      </div>
    </div>
    <div class="column">
      <div class="container" style="background-color: white;">
        <br>
        <div style="display: flex;">
          <span style="font-size: 20px;flex: 3;">Request Log</span>
        </div>
        <mat-divider style="margin: 10px 0;"></mat-divider>
        <div class="container">
          <table class="table" mat-table [dataSource]="this.dataSource">

            <ng-container matColumnDef="aaction_taken_by">
              <th id="action" class="text-center" mat-header-cell *matHeaderCellDef> Request Action Taken By </th>
              <td id="roleName" class="text-center" mat-cell *matCellDef="let element"> {{element.RequestRoleName}} </td>
            </ng-container>


            <ng-container matColumnDef="req_action">
              <th id="reqAction"class="text-center" mat-header-cell *matHeaderCellDef> Request Action </th>
              <td id="requestAction" class="text-center" mat-cell *matCellDef="let element"> {{element.RequestAction}} </td>
            </ng-container>


            <ng-container matColumnDef="req_date">
              <th id="reqDate"class="text-center" mat-header-cell *matHeaderCellDef> Request Date </th>
              <td id="date" class="text-center" mat-cell *matCellDef="let element"> {{element.RequestActionDate | date:
                'yyyy-MM-dd'}} </td>
            </ng-container>

            <ng-container matColumnDef="req_time">
              <th id="time" class="text-center" mat-header-cell *matHeaderCellDef> Request Time </th>
              <td id="actionTime" class="text-center" mat-cell *matCellDef="let element"> {{element.RequestActionTiming}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="text-center col">
            <button mat-button class=" stylepopupbuttonconfirm" style="outline: none" (click)="backClicked()">
              Go Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>