.example-card{
    margin-top: 5px;
  }
  mat-card-title{

    width: 100% !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
  }
  mat-card{
    background-color:  rgba(106, 135, 223, 0.589);
  }
  mat-form-field {
    font-size: 14px;
  width: 100%;
  }
  .request-Tab{
    width: 100% !important;
    font-size: large;
    font-family:'Roboto', 'Times New Roman', Times, serif;
  }
  .make-gold{
    background-color: #F0F0F0;
  }
table{
  background-color: white;
  margin: 0;
  padding: 0;
}