<div class="row my-3">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="border-radius: 10px;">
    <form class="px-3 py-3 my-4" [formGroup]="allocateForm" (submit)="form.reset()">
      <mat-card class="example-card1 text-center">
        <mat-card-title> Request Action Form</mat-card-title>
      </mat-card>
      <br>
      <div class="text-center">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Select User</mat-label>
          <mat-select formControlName="request_actionnnn" [(ngModel)]="accessId" name="food">
            <mat-option *ngFor="let type of users" [value]="type.accessId">
              {{type.role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p class="error"
          *ngIf="allocateForm.get('request_actionnnn').invalid && allocateForm.get('request_actionnnn').touched">*
          User is Required</p>
      </div>
      <div class="text-center">
        <mat-dialog-actions>
          <button mat-button (click)="onCancel()"> Cancel</button>
          <button mat-button (click)="navigateTo()"> Select </button>
        </mat-dialog-actions>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>