<mat-dialog-content>
  <div class="text-center container" style="background-color: white;">
  
    <div style="display: flex;">
      <span style="font-size: 20px;flex: 3;">Workflow {{wflowId}}</span>
    </div>
    <mat-divider style="margin: 10px 0;"></mat-divider>
    <table class="table" mat-table [dataSource]="this.dataSource">
  
      <!-- REQUEST NO COULMN -->
      <ng-container matColumnDef="name">
        <th id="name" class="text-center" mat-header-cell *matHeaderCellDef> Name </th>
        <td id="adminName" mat-cell *matCellDef="let element"> {{element.adminName}} </td>
      </ng-container>
  
      <!-- REQUEST TITLE Column -->
      <ng-container matColumnDef="role">
        <th id="role" class="text-center" mat-header-cell *matHeaderCellDef> Role </th>
        <td id="userRole" mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th id="location"class="text-center" mat-header-cell *matHeaderCellDef> Location </th>
        <td id="loc" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [ngClass]="{'make-Gold': row.id == this.indexCivil[0],'make-gold': row.id == this.indexElectrical[0]}" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-dialog-content>