<p>workflow-dialog works!</p>

<div fxLayout="row">
    <div layout="column" flex>
      <div layout="row" flex>
        <div class="myCell" flex>ROW 1, CELL 1</div>
        <div class="myCell" flex>ROW 1, CELL 2</div>
        <div class="myCell" flex>ROW 1, CELL 3</div>
      </div>
      <div layout="row" flex>
        <div class="myCell" flex>A LONGER CELL</div>
        <div class="myCell" flex>ROW 2, CELL 2</div>
        <div class="myCell" flex>ROW 2, CELL 3</div>
      </div>
    </div>
  </div>
