.make-gold{
    background-color:  rgba(238, 233, 232, 0.233);
  }
  .make-Gold{
    background-color:  rgba(243, 236, 234, 0.233);
  }

  .ex1{
    margin-top: 5px;
    /* background-color:  rgba(106, 135, 223, 0.644); */
  }
  mat-card-title{
    /* background: linear-gradient(to right, #000046, #1cb5e0); */
    width: 100% !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
  }
  th{
    background-color: rgb(60,53,63);
    color: white;
  }
  
  .text-center{
    vertical-align:middle;
  }
  
  .truncate-cell{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }