<div
  *ngIf="
    this.UsrDataService.userId === undefined ||
    this.UsrDataService.userRole === null
  "
>
  <div class="alert alert-danger text-center mx-4 my-4">
    <h3>
      Invalid username or password , please try again !
    </h3>
    <hr />
    <button class="btn btn-danger" routerLink="/">
      Go Back!
    </button>
  </div>
</div>
<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="this.UsrDataService.userId !== undefined"
>
  <mat-toolbar  class="col-bg-header">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon style="color: rgb(245, 236, 236);">menu</mat-icon>
    </button>
    <a routerLink="/dashboard" class="navbar-brand" (click)="main = ''">
      <div class="logo">
        <img
          class="text-center"
          src="../assets/Logo.svg"
          width="100"
          height="30"
          alt=""
          class="d-align-block"
        />
          <span class="apptype" style="margin-left: 16px; color: rgb(245, 236, 236);">AmbienceMax</span>
        </div>
    </a>
    <span class="example-spacer"></span>
    <div class="form-inline" *ngIf="this.UsrDataService.userId !== null">
      <button
        class="btn btn-lg btn-danger"
        mat-button
        [matMenuTriggerFor]="beforeMenu"
      >
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example settings icon"
          style="color: rgb(245, 236, 236);"
          >settings</mat-icon
        >
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>View Profile</button>
        <button mat-menu-item>All Settings</button>
        <button mat-menu-item routerLink="" (click)="logout()">
          Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="color: rgb(245, 236, 236);"
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="col-bg-header"
    >
  
      <mat-nav-list style="color: rgb(245, 236, 236);">
        <a
          class="btn"
          (click)="main = ''; snav.toggle();"
          mat-list-item
        >
          Dashboard
        </a>
        <a
          class="btn"
          *ngIf="this.userId === 1"
          (click)="main = 'form'; snav.toggle()"
          routerLink="request-form"
          mat-list-item
        >
          New Request
        </a>

        <a
          class="btn"
          *ngFor="let chip of Buttons"
          (click)="Request(chip.func); snav.toggle(); main = chip.func;
          this.UsrDataService.main = chip.func;"
          mat-list-item
        >
          {{ chip.name }}</a
        >
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content class="content">
      <!-- <div *ngIf = 'this.UsrDataService.currUser !== undefined ' class = "maindiv"> -->
      <div *ngIf="this.UsrDataService.userId !== undefined" class="maindiv">
        <app-request-form routerLinkActive="active" *ngIf="main === 'form'"></app-request-form>
        <app-pending routerLinkActive="active" *ngIf="main === 'Pending'"></app-pending>
        <app-all-request routerLinkActive="active" *ngIf="main === 'all'"></app-all-request>
        <app-open routerLinkActive="active" *ngIf="main === 'open' && this.UsrDataService.userId !== 1"></app-open>
        <app-close routerLinkActive="active" *ngIf="main === 'closed'"></app-close>

        <div *ngIf="main === ''" class="row graph">
          <div style="margin-left: 2.5em" class="col-lg-5">
            <div class="col">
              <mat-card  class="example-card" *ngIf="ChartType === 'bar'">

                <mat-card-content  class="example-card">
                  <app-bar-chart-component></app-bar-chart-component>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card  class="example-card" *ngIf="ChartType === 'bar'">

                <mat-card-content class="example-card">
                  <app-doughnut-chart></app-doughnut-chart>
                </mat-card-content>
              </mat-card>
            </div>

          </div>

          <div class="col-lg-5">
            <div class="col">
              <mat-card style="width: 120%"class="example-card">
                <mat-card-title>Pending Requests: {{ Pending }}
                  <button mat-button class="stylepopupbuttonconfirm" mat-button (click)="Request('Pending')"
                    routerLink="pending">
                    View All
                  </button>
                </mat-card-title>
              </mat-card>
            </div>
            <div class="col">
              <mat-card style="width: 120%" class="example-card">
                <mat-card-title>Open Requests: {{ Open }}
                  <button mat-button class="stylepopupbuttonconfirm" (click)="Request('open')" routerLink="open">
                    View All
                  </button>
                </mat-card-title>
              </mat-card>
            </div>
            <div class="col">
              <mat-card style="width: 120%" class="example-card">
                <mat-card-title>Closed Requests:{{ Closed }}
                  <button mat-button class="stylepopupbuttonconfirm" (click)="Request('closed')" routerLink="close">
                    View All
                  </button>
                </mat-card-title>
              </mat-card>
            </div>
            
            <div class="col">
              <mat-card style="width: 120%" class="example-card" *ngIf="ChartType === 'bar'">

                <mat-card-content class="example-card">
                  <app-chart-represent></app-chart-represent>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
      </div>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
