<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="this.UsrDataService.userId !== undefined">
  <mat-toolbar class="col-bg-header">
    <button mat-icon-button style="outline:none;" (click)="snav.toggle()">
      <mat-icon style="color: rgb(245, 236, 236);">menu</mat-icon>
    </button>
    <a routerLink="/AmbienceMax/dashboard" class="navbar-brand" (click)="main = ''">
      <div class="logo">
        <!-- <img
        class="text-center"
        src="../assets/Logo.svg"
        width="100"
        height="30"
        alt=""
        class="d-align-block"
      /> -->
        <span class="apptype" style="margin-left: 16px; color: rgb(245, 236, 236);">AmbienceMax</span>
      </div>
    </a>
    <span class="example-spacer"></span>
    <div class="form-inline">
      <button mat-button class="stylepopupbuttonconfirm" style="color: rgb(245, 236, 236);outline:none;"
        [matMenuTriggerFor]="switchMenu">Switch Role</button>
      <button mat-button class="stylepopupbuttonconfirm" style="color: rgb(245, 236, 236);outline:none;"
        (click)="logout()">Logout</button>
      <mat-menu #switchMenu="matMenu" xPosition="before">
        <button style="outline:none;" mat-menu-item *ngFor="let i of menus"
          (click)="navigateToDashboard(i.role,i.space,i.sid)">{{getRoleName(i.name,i.roledesc)}}</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="color: rgb(245, 236, 236);" class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="col-bg-sidenav">

      <mat-nav-list style="color: rgb(245, 236, 236);">
        <a class="btn" (click)="snav.toggle();" routerLink="dashboard" mat-list-item>
          Dashboard
        </a>
        <a class="btn" *ngIf="(role_id==0)"(click)="snav.toggle()" routerLink="request-form" mat-list-item>Raise
          Request </a>
        <a class="btn"  (click)="snav.toggle()" routerLink="pending" mat-list-item>
          <span> Pending Requests</span>
        </a>

        <a class="btn"  (click)="snav.toggle()" routerLink="open" mat-list-item>
          <span> Open Requests</span>
        </a>

        <a class="btn" (click)="snav.toggle()" routerLink="close" mat-list-item>
          <span>Closed Requests</span>
        </a>

        <a class="btn" (click)="snav.toggle()" routerLink="complete" mat-list-item>
          <span>Completed Requests</span>

        </a>

        <a class="btn" (click)="snav.toggle()" routerLink="allRequest" mat-list-item>
          <span>All Request</span>
          </a>
          <a class="btn" *ngIf="checkAdmin==1" (click)="snav.toggle();admin()" mat-list-item>
            <span>AmbienceMax Configuration</span>
            </a>

        <!-- <a class="btn" *ngFor="let chip of Buttons" (click)="Request(chip.func); snav.toggle(); main = chip.func;
        this.UsrDataService.main = chip.func;" mat-list-item>
          {{ chip.name }} <mat-icon> message</mat-icon>.</a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="maindiv">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>