<mat-toolbar class="col-bg-header">
  <a class="navbar-brand">
    <div class="logo">
      <span class="apptype" style="margin-left: 16px; color: white;">AmbienceMax</span>
    </div>

  </a>
  <span class="example-spacer"></span>

</mat-toolbar>
<div class="container" id="login-container">
  <h4 class="text-center" style="color: black;">Welcome to AmbienceMax!</h4>
  <hr />
  <app-login-form *ngIf="state === 'login'"></app-login-form>
  <app-signup-form *ngIf="state === 'signup'"></app-signup-form>
</div>