<mat-toolbar class="col-bg-header">
  <a class="navbar-brand">
    <div class="logo">
      <!-- <img class="text-center" src="../assets/Logo.svg" width="100" height="30" alt="" class="d-align-block" /> -->
      <span class="apptype" style="margin-left: 16px; color: white;">AmbienceMax</span>
    </div>

  </a>
  <span class="example-spacer"></span>
  
</mat-toolbar>
  <div class="row my-3">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="border-radius: 10px;">
  <mat-card>
    <mat-card class="ex1 text-center">
      <mat-card-title> Existing assigned workflows</mat-card-title>
    </mat-card>
    <br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="ID" >
      <th class="text-center" mat-header-cell *matHeaderCellDef>Work Flow Id</th>
      <td mat-cell *matCellDef="let element">
        <p class="text-center">
          {{element.w_id}}
        </p>
      </td>

    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Flow" class="text-center">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Work Flow</th>
      <td mat-cell *matCellDef="let element">
        <p class="text-center">
          {{element.w_flow}}
        </p>
        </td>
    </ng-container>
    <ng-container matColumnDef="Location" class="text-center">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">
        <p class="text-center">
          {{element.name}}
        </p>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="details" class="text-center">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <p class="text-center">
          <button mat-button class="stylepopupbuttonconfirm"
          (click)='openDialog(element.w_flow)'>
          View Details
        </button>
        </p>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[4]" ></mat-paginator>
  </mat-card>
  <br>
  <div class="row my-1">
    <div class="col-lg-12">
      <mat-card>
        <mat-card class="ex1 text-center">
          <mat-card-title> Add new workflows & hierarchies</mat-card-title>
        </mat-card>
        <br>
        <h5 class="text-center">
          Add Workflow
          <hr>
        </h5>
        <!-- <div class="row"> -->
            <form #form = "ngForm" (submit)="form.reset()">
              <div class="row">
                <div class="col-lg-9">
                  <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Choose Approvers</mat-label>
                    <mat-select [formControl]="Approvers" multiple [(ngModel)] = "approverArray" [value] = "approverArray">
                      <mat-option *ngFor="let topping of AppList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 py-3" style="width: 100%;">
                  <button mat-raised-button color="primary"
                    (click) = "onAddWork();" style="width:80%"
                    type="submit"
                    [disabled] = "approverArray.length === 0">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          <!-- </div> -->
      </mat-card>
      <hr>
    </div>
    <!-- <div class="col-lg-6">
      <mat-card>
        <h5 class="text-center">
          Add Hierarchy
        </h5>
        <hr>
        <div class="row">
          <div class="form-group col">
            <label for="id"> Hierarchy id</label>
            <input type="text" name="" id="id"  class="form-control" [(ngModel)] ="h_id">
          </div>
          <div class="form-group col">
            <label for="id"> Hierarchy Level</label>
            <input type = "number" id="id" [(ngModel)] = "h_level" class="form-control">
          </div>
          <div class="form-group col">
            <label for="name"> Hierarchy name</label>
            <input type="text" name="" id="name" class="form-control" [(ngModel)] = "h_name" >
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
          <button mat-raised-button color="primary" style="width: 100%;"
          [disabled] = "h_id === '' || h_name === '' || h_level ===''"
          (click) = "onAddHierarchy()"
          >
            Submit
          </button>
          </div>
          <div class="col"></div>
        </div>
      </mat-card>
    </div> -->

    <div class="col-lg-12">

      <mat-card>
        <mat-card class="ex1 text-center">
          <mat-card-title> Link Hierarchy to Workflow</mat-card-title>
        </mat-card>
        <br>
        <form action="" #hform = "ngForm">
          <div class="row">
            <div class="form-group col" >
              <label for="H_id"> Building Id</label>
              <input type="number" name="h_id" id="H_id" min="13" [(ngModel)] ="b_id"  class="form-control" required>
            </div>
            <div class="form-group col">
              <label for="w_id"> Workflow Id</label>
              <input type="number" name="w_id" id="w_id" min="1" [(ngModel)] = "work_id" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
            <button mat-raised-button color="primary" style="width: 100%;"
            [disabled]="!hform.valid"
            (click) = "onAddLink(); hform.reset()">
            Submit
          </button>
            </div>
            <div class="col"></div>
          </div>
        </form>
      </mat-card>
      </div>
  </div>
</div></div>

